.QurationContent {
  width: 36rem;
  margin-top: 0.75rem;
  width: 19.75rem;
}
.nowLocation {
  display: flex;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--Greyscale-Black, #000);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.now-title {
  color: var(--Greyscale-800, #262626);

  /* Kor/Body5-kor */
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.375rem; /* 137.5% */
}
.now-desc {
  color: var(--Greyscale-600, #555);

  /* Kor/Body6-kor */
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem; /* 137.5% */
  margin-left: 1rem;
}
.now-suggest {
  color: #999;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 0.31rem;
}
.Search {
  border-radius: 3rem;
  border: 1px solid var(--Greyscale-200, #d9d9d9);
  background: var(--Greyscale-White, #fff);
  margin-top: 2rem;
  margin-left: 1.5rem;
  display: flex;
  width: 19.75rem;
  height: 2.5rem;
  padding: 0.75rem 1rem;
  align-items: center;
  gap: 0.5rem;
}

.SearchInput {
  width: 80%;
  height: 2rem;
  padding-left: 1rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border: none;
}
.SearchBtn {
  color: white;
  display: flex;
  width: 7.3125rem;
  padding: 0rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 0.5rem;
  background-color: var(--Greyscale-Black, #000);
}
.MapView {
  width: 60rem;
  height: 47rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background-color: var(--Greyscale-200, #d9d9d9);
}
.SwitchBtn {
  width: 100rem;
  height: 3rem;
  border: 1px solid var(--Greyscale-100, #e9e9e9);
  background: var(--Greyscale-White, #fff);
}
.Category {
  display: flex;
  width: 19.75rem;
  height: 1.625rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}
.officeList {
  height: 26rem;
  overflow-y: auto;
}
.pagenation {
  display: flex;
  width: 22.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border: 1px solid var(--Greyscale-100, #e9e9e9);
  background: #fff;

  /* shadow-48 */
  box-shadow: 0px 4px 48px 0px rgba(0, 0, 0, 0.05);
}
.pageButton {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background: var(--Greyscale-White, #fff);
  gap: 0.5rem;
  flex-shrink: 0;
  color: var(--Greyscale-700, #434343);
  text-align: center;

  /* Eng/Body6-eng */
  font-family: Figtree;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem; /* 137.5% */
}
.switchWrapper {
  width: 100%;
  padding-left: 64.69rem;
  border: 1px solid var(--Greyscale-100, #e9e9e9);
}
.switch {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 2.25rem;
  padding: 0rem 0.25rem;
  width: 9.25rem;
  border-radius: 2rem;
  background: var(--Blue-greyish, #f4f7f9);
  display: flex;
  align-items: center;
}
.work {
  display: flex;
  width: 3.5rem;
  height: 1.75rem;
  padding: 0rem 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  border-radius: 2.375rem;
  border: 1px solid var(--Greyscale-100, #e9e9e9);
  background: var(--Greyscale-White, #fff);
  color: var(--Greyscale-700, #434343);

  /* Eng/Body5-eng */
  font-family: Figtree;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.375rem; /* 137.5% */
}
.vacation {
  margin-left: 0.69rem;
  color: var(--Greyscale-400, #9d9d9d);

  /* Eng/Body6-eng */
  font-family: Figtree;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem; /* 137.5% */
}
.switchSwitch {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 2.25rem;
  padding: 0rem 0.25rem;
  width: 9.25rem;
  border-radius: 2rem;
  background: var(--Blue-greyish, #f4f7f9);
  display: flex;
  align-items: center;
}
.workSwitch {
  margin-left: 0.91rem;
  margin-right: 0.59rem;
  color: var(--Greyscale-400, #9d9d9d);

  /* Eng/Body6-eng */
  font-family: Figtree;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem; /* 137.5% */
}
.vacationSwitch {
  display: flex;
  width: 5.25rem;
  padding: 0.25rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 2rem;
  border: 1px solid var(--Greyscale-100, #e9e9e9);
  background: #fff;
}