.QurationContent {
  width: 36rem;
  margin-top: 0.75rem;
  width: 19.75rem;

}
.nowLocation {
  display: flex;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--Greyscale-Black, #000);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.now-title {
  color: var(--Greyscale-800, #262626);

/* Kor/Body5-kor */
font-family: Pretendard;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: 1.375rem; /* 137.5% */
}
.now-desc {
  color: var(--Greyscale-600, #555);

  /* Kor/Body6-kor */
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem; /* 137.5% */
  margin-left: 1rem;
}
.now-suggest {
  color: #999;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 0.31rem;
}
.Search {
  border-radius: 3rem;
border: 1px solid var(--Greyscale-200, #D9D9D9);
background: var(--Greyscale-White, #FFF);
  margin-top: 2rem;
  margin-left: 1.5rem;
  display: flex;
  width: 19.75rem;
  height: 2.5rem;
  padding: 0.75rem 1rem;
  align-items: center;
  gap: 0.5rem;
}

.SearchInput {
  width: 80%;
  height: 2rem;
  padding-left: 1rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border: none;
}
.SearchBtn {
  color: white;
  display: flex;
  width: 7.3125rem;
  padding: 0rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 0.5rem;
  background-color: var(--Greyscale-Black, #000);
}
.MapView {
  width: 60rem;
  height: 47rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background-color: var(--Greyscale-200, #d9d9d9);
}
.SwitchBtn {
  width: 100rem;
  height: 3rem;
  border: 1px solid var(--Greyscale-100, #E9E9E9);
  background: var(--Greyscale-White, #FFF);
}
.Category {
  width: 100rem;
  height: 1.625rem;
 margin-top: 1.5rem;
 margin-bottom: 1.5rem;
 margin-left: 1.5rem;
}
