.main {
  width: 100%;
  height: 100%;
  position: relative;
}

.first-main {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 11.44rem;
  position: relative;
}

.first-main-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.first-main-title {
  margin-bottom: 1.875rem;
}

.first-main-text div {
  margin-bottom: 1.75rem;
}

.first-main-image-wrapper {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100vh;
}

.first-main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.second-main {
  width: 100%;
  height: 100vh;
  margin-top: 5.25rem;
  margin-bottom: 6.625rem;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-index {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--blue-main);
  margin-bottom: 1.25rem;
  font-family: Figtree;
}

.second-main-image-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 4rem;
}

.second-main-image {
  width: 73%;
  height: 58%;
  border-radius: 1.91206rem;
  object-fit: cover;
  box-shadow: 0px 3.824px 42.065px 0px rgba(0, 0, 0, 0.08);
}

.third-main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  background-color: var(--blue-greyish);
  justify-content: space-between;
  align-items: center;
}

.third-main-content {
  width: 73%;
  height: 64%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.third-main-image {
  width: 60%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.75rem;
  box-shadow: 0px 3.824px 42.065px 0px rgba(0, 0, 0, 0.08);
}

.fourth-main {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 11.44rem;
}

.fourth-main-image {
  width: 53%;
  height: 100%;
  object-fit: cover;
}

.fourth-main-sub-image {
  width: 53%;
  height: 25%;
  object-fit: cover;
  border-radius: 2rem;
  border: 1px solid #ededed;
  box-shadow: 0px 8px 44px 0px rgba(0, 0, 0, 0.04);
  position: absolute;
  top: 8.5rem;
  left: 28.81rem;
}

.fourth-main-text {
  position: absolute;
  bottom: 6.13rem;
  right: 11.44rem;
}

.fifth-main {
  width: 100%;
  height: 100vh;
  position: relative;
}

.sixth-main {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 6.75rem 11.4375rem 11.125rem 11.4375rem;
}

.sixth-select-bar {
  display: flex;
  justify-content: space-between;
  width: max-content;
  margin-top: 1.875rem;
}

.sixth-btn-list {
  display: flex;
  list-style: none;
  gap: 1rem;
}
