.mypageWrapper{
    width: 85.375rem;
height: 48rem;
    background-color: var(--Blue-greyish, #F4F7F9);
    display: flex;
    flex-direction: column;
}
.top{
    width: 85.375rem;
height: 3.5rem;
flex-shrink: 0;
border: 1px solid var(--Greyscale-100, #E9E9E9);
background: var(--Greyscale-White, #FFF);
}
.content{
    width: 62.5rem;
height: 15.375rem;
padding: 1.5rem;
flex-shrink: 0;
border-radius: 1rem;
border: 1px solid var(--Greyscale-100, #E9E9E9);
background: var(--Greyscale-White, #FFF);
}
.title{
    color: var(--Greyscale-Black, #000);

/* Kor/Body1-kor */
font-family: Pretendard;
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: 1.75rem; /* 140% */
}
.nicknameBox{
    margin-top: 2.25rem;
    display: flex;
}
.nickname{
    margin-right: 1.5rem;
    color: var(--Greyscale-Black, #000);

/* Kor/Caption2-kor */
font-family: Pretendard;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.125rem; /* 128.571% */
}
.userNickname{
    color: var(--Greyscale-Black, #000);

/* Kor/Caption2-kor */
font-family: Pretendard;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.125rem; /* 128.571% */
}
.emailBox{
    margin-top: 2rem;
    display: flex;
}
.email{
    margin-right: 2rem;
    color: var(--Greyscale-Black, #000);

/* Kor/Caption2-kor */
font-family: Pretendard;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.125rem; /* 128.571% */
}
.userEmail{
    color: var(--Greyscale-Black, #000);

/* Kor/Caption2-kor */
font-family: Pretendard;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.125rem; /* 128.571% */
}
.userContent{
    padding-bottom: 1.75rem;
    border-bottom: 1px solid var(--Greyscale-100, #E9E9E9);
}
.userExit{
    margin-top: 1.25rem;
    color: var(--Greyscale-300, #C4C4C4);

/* Kor/Caption2-kor */
font-family: Pretendard;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.125rem; /* 128.571% */
}